doctype html
head
  title
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
.container
  h1.text-center  All Posts
  .row
    .col-md-12.col-xs-12.col-sm-12
      .one-post
        p.post-by
          | Username 
          span 1st August 21:00
        h2  Post Title
        p.post-desc
          | Description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        p
          a.btn.btn-outline-info(href='') Load More
          span
            i.fa.fa-thumbs-o-up  200 likes
            i.fa.fa-comment-o 10 Comments... 
    .col-md-12.col-xs-12.col-sm-12
      .one-post
        p.post-by
          | Username 
          span 1st August 21:00
        h2  Post Title
        p.post-desc
          | Description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        p
          a.btn.btn-outline-info(href='') Load More
          span
            i.fa.fa-thumbs-o-up  200 likes
            i.fa.fa-comment-o 10 Comments... 
    .col-md-12.col-xs-12.col-sm-12
      .one-post
        p.post-by
          | Username 
          span 1st August 21:00
        h2  Post Title
        p.post-desc
          | Description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        p
          a.btn.btn-outline-info(href='') Load More
          span
            i.fa.fa-thumbs-o-up  200 likes
            i.fa.fa-comment-o 10 Comments... 
style(type='text/css').
  body{
  background-color: #efefef !important;
  }
  .one-post{
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 30px;
  background-color: #fff;
  }
  .post-by{
  font-size: 15px;
  margin-bottom: 3px;
  }
  .one-post span{
  float: right;;
  color: #4000ff;
  font-size: 12px;
  }
  .post-desc{
  font-size: 15px;
  text-align: justify;
  }
  .one-post h2{
  font-size: 25px;
  margin-top: 10px;
  color:#bf4040;
  }
